In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('C:/Users/ASUS/Downloads/Amazon.csv')
df.head()

,OrderID,OrderDate,CustomerID,CustomerName,ProductID,ProductName,Category,Brand,Quantity,UnitPrice,Discount,Tax,ShippingCost,TotalAmount,PaymentMethod,OrderStatus,City,State,Country,SellerID
0,ORD0000001,2023-01-31,CUST001504,Vihaan Sharma,P00014,Drone Mini,Books,BrightLux,3,106.59,0.00,0.00,0.09,319.86,Debit Card,Delivered,Washington,DC,India,SELL01967
1,ORD0000002,2023-12-30,CUST000178,Pooja Kumar,P00040,Microphone,Home & Kitchen,UrbanStyle,1,251.37,0.05,19.10,1.74,259.64,Amazon Pay,Delivered,Fort Worth,TX,United States,SELL01298
2,ORD0000003,2022-05-10,CUST047516,Sneha Singh,P00044,Power Bank 20000mAh,Clothing,UrbanStyle,3,35.03,0.10,7.57,5.91,108.06,Debit Card,Delivered,Austin,TX,United States,SELL00908
3,ORD0000004,2023-07-18,CUST030059,Vihaan Reddy,P00041,Webcam Full HD,Home & Kitchen,Zenith,5,33.58,0.15,11.42,5.53,159.66,Cash on Delivery,Delivered,Charlotte,NC,India,SELL01164
4,ORD0000005,2023-02-04,CUST048677,Aditya Kapoor,P00029,T-Shirt,Clothing,KiddoFun,2,515.64,0.25,38.67,9.23,821.36,Credit Card,Cancelled,San Antonio,TX,Canada,SELL01411

In [5]:
df.shape

(100000, 20)

In [6]:
df.dtypes

OrderID           object
OrderDate         object
CustomerID        object
CustomerName      object
ProductID         object
ProductName       object
Category          object
Brand             object
Quantity           int64
UnitPrice        float64
Discount         float64
Tax              float64
ShippingCost     float64
TotalAmount      float64
PaymentMethod     object
OrderStatus       object
City              object
State             object
Country           object
SellerID          object
dtype: object

In [7]:
df.isnull().sum()

OrderID          0
OrderDate        0
CustomerID       0
CustomerName     0
ProductID        0
ProductName      0
Category         0
Brand            0
Quantity         0
UnitPrice        0
Discount         0
Tax              0
ShippingCost     0
TotalAmount      0
PaymentMethod    0
OrderStatus      0
City             0
State            0
Country          0
SellerID         0
dtype: int64

In [8]:
df.columns

Index(['OrderID', 'OrderDate', 'CustomerID', 'CustomerName', 'ProductID',
       'ProductName', 'Category', 'Brand', 'Quantity', 'UnitPrice', 'Discount',
       'Tax', 'ShippingCost', 'TotalAmount', 'PaymentMethod', 'OrderStatus',
       'City', 'State', 'Country', 'SellerID'],
      dtype='object')

In [9]:
df.columns = (df.columns.str.lower())

In [10]:
df.columns

Index(['orderid', 'orderdate', 'customerid', 'customername', 'productid',
       'productname', 'category', 'brand', 'quantity', 'unitprice', 'discount',
       'tax', 'shippingcost', 'totalamount', 'paymentmethod', 'orderstatus',
       'city', 'state', 'country', 'sellerid'],
      dtype='object')

In [11]:
df['orderdate'] = pd.to_datetime(df['orderdate'], errors = 'coerce')

In [12]:
num_columns = ['quantity', 'unitprice', 'discount', 'tax', 'shippingcost', 'totalamount']

for col in num_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [13]:
df.dtypes

orderid                  object
orderdate        datetime64[ns]
customerid               object
customername             object
productid                object
productname              object
category                 object
brand                    object
quantity                  int64
unitprice               float64
discount                float64
tax                     float64
shippingcost            float64
totalamount             float64
paymentmethod            object
orderstatus              object
city                     object
state                    object
country                  object
sellerid                 object
dtype: object

In [14]:
df.isnull().sum().sort_values(ascending=False)

orderid          0
orderdate        0
customerid       0
customername     0
productid        0
productname      0
category         0
brand            0
quantity         0
unitprice        0
discount         0
tax              0
shippingcost     0
totalamount      0
paymentmethod    0
orderstatus      0
city             0
state            0
country          0
sellerid         0
dtype: int64

In [15]:
df.select_dtypes(include='object').columns

Index(['orderid', 'customerid', 'customername', 'productid', 'productname',
       'category', 'brand', 'paymentmethod', 'orderstatus', 'city', 'state',
       'country', 'sellerid'],
      dtype='object')

In [16]:
for col in df.select_dtypes(include='object'):
    df[col] = df[col].str.strip()

In [17]:
df['city'].unique()[:10]

array(['Washington', 'Fort Worth', 'Austin', 'Charlotte', 'San Antonio',
       'Los Angeles', 'Chicago', 'Denver', 'Houston', 'Jacksonville'],
      dtype=object)

In [18]:
df['order_year'] = df['orderdate'].dt.year
df['order_month'] = df['orderdate'].dt.month
df['order_quarter'] = df['orderdate'].dt.to_period('Q').astype(str)

In [19]:
df['gross_amount'] = df['quantity'] * df['unitprice']

In [20]:
df['discount_amount'] = df['gross_amount'] * df['discount']

In [21]:
df['net_sales'] = df['gross_amount'] - df['discount_amount']

In [22]:
df[['gross_amount', 'discount_amount', 'net_sales']].head()

   gross_amount  discount_amount  net_sales
0        319.77           0.0000   319.7700
1        251.37          12.5685   238.8015
2        105.09          10.5090    94.5810
3        167.90          25.1850   142.7150
4       1031.28         257.8200   773.4600

In [26]:
df.to_csv('C:/Users/ASUS/Downloads/Amazon_cleaned.csv', index=False)